<div class="w-full sm:w-1/3 flex flex-col sm:justify-start px-10">
    <h2 class="text-blue-900 my-2 whitespace-nowrap font-semibold tracking-wider">YOUR REQUEST</h2>
    <form class="flex flex-col">
        <label class="label">
            <span class="label-text whitespace-nowrap w-full">Product you are interested in</span>
        </label>
        <div class="form-control">
            <input type="text" placeholder="{{.Params.title}}" value="{{.Params.title}}" 
                class="input input-sm input-bordered border-blue-900 w-64 rounded-none">
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Name</span>
            </label>
            <input type="text" placeholder="Your Name"
                class="input input-sm input-bordered border-blue-900 w-64 rounded-none">
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Email </span>
            </label>
            <input type="text" placeholder="Your Email"
                class="input input-sm input-bordered border-blue-900 w-64 rounded-none">
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Mobile No. </span>
            </label>
            <input type="text" placeholder="Your Mobile No."
                class="input input-sm input-bordered border-blue-900 w-64 rounded-none">
        </div>


        <button
            class="mt-4 btn btn-sm bg-blue-900 text-white w-28 hover:bg-white hover:text-blue-900 transition delay-100 rounded-none ">Submit</button>

    </form>
</div>