<div id="slide-up" class="w-full bg-gray-100 flex sm:flex-row flex-col py-10  justify-center">
    <div class=" container flex-col justify-center hero-content lg:flex-row">
      <div  class="text-center px-20 lg:text-left transform translate-y-6 " >
        <h1 class="mb-5 text-5xl font-bold">
              Get in touch
            </h1> 
        <p class="mb-5">
              provide your details here and we will get in touch with you.  </p>
      </div> 
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Name</span>
            </label> 
            <input type="text" placeholder="Name" class="input input-bordered">
          </div> 
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label> 
            <input type="text" placeholder="Email" class="input input-bordered"> 
           
          </div> 
          <div class="form-control">
            <label class="label">
              <span class="label-text">Phone</span>
            </label> 
            <input type="text" placeholder="Phone" class="input input-bordered">
          </div> 
         
          <div class="form-control mt-6">
            <input type="button" value="Login" class="btn btn-accent">
          </div>
        </div>
      </div>
    </div>
    
  </div>