<div class=" slide-up flex flex-col sm:flex-row sm:min-h-screen bg-red-100 mt-24">
    <div class="w-full sm:w-1/2  min-h-screen borderTest flex flex-col justify-center">
        <div class="borderTest2 flex flex-col justify-center items-start hero-content text-neutral-content">
            <div class=" borderTest3 flex flex-col p-2 items-start gap-y-4">
                <h2 class="text-gray-500 tracking-wider font-bold ">
                    Goldring Tool Holders
                </h2> 
              <p class="text-gray-500" > The product range of BENZ is very broad: from small angle head for tiny drills in the jewelery industry to XXL multi-spindle head for the heavy cutting of turbines. BENZ produces solutions for wood, metal and composites industries for tooling and machine tooling technology.
            </p>
            <button class="btn btn-tertiary">Browse products</button>
            </div>
          </div>
          <div class="borderTest2 flex flex-col justify-center items-start hero-content text-neutral-content">
            <div class=" borderTest3 flex flex-col p-2 items-start gap-y-4">
                <h2 class="text-gray-500 tracking-wider font-bold ">
                Shrink Fit Technology
                </h2> 
              <p class="text-gray-500" > The product range of BENZ is very broad: from small angle head for tiny drills in the jewelery industry to XXL multi-spindle head for the heavy cutting of turbines. BENZ produces solutions for wood, metal and composites industries for tooling and machine tooling technology.
            </p>
            <button class="btn btn-tertiary">Browse products</button>
            </div>
          </div>
          <div class="borderTest2 flex flex-col justify-center items-start hero-content text-neutral-content">
            <div class=" borderTest3 flex flex-col p-2 items-start gap-y-4">
                <h2 class="text-gray-500 tracking-wider font-bold ">
                    <h2>Measuring Technology</h2>
                </h2> 
              <p class="text-gray-500" > The product range of BENZ is very broad: from small angle head for tiny drills in the jewelery industry to XXL multi-spindle head for the heavy cutting of turbines. BENZ produces solutions for wood, metal and composites industries for tooling and machine tooling technology.
            </p>
            <button class="btn btn-tertiary">Browse products</button>
            </div>
          </div>
          <div class="borderTest2 flex flex-col justify-center items-start hero-content text-neutral-content">
            <div class=" borderTest3 flex flex-col p-2 items-start gap-y-4">
                <h2 class="text-gray-500 tracking-wider font-bold ">
                    <h2>Spindle Technology</h2>
                </h2> 
              <p class="text-gray-500" > The product range of BENZ is very broad: from small angle head for tiny drills in the jewelery industry to XXL multi-spindle head for the heavy cutting of turbines. BENZ produces solutions for wood, metal and composites industries for tooling and machine tooling technology.
            </p>
            <button class="btn btn-tertiary">Browse products</button>
            </div>
          </div>
      
    </div>
    <div id="slide-up" class="box w-full sm:w-1/2  p-10  min-h-screen flex items-center bg-center bg-cover"  style="background-image:url('/images/diebold-section-hero.jpeg')">
        <div class="flex justify-start items-start flex-col hero-content text-neutral-content mb-36">
            <h2>Diebold</h2>
            <div class=" flex p-2 items-start  bg-blue-900 ">
                <h1 class="text-white text-5xl tracking-wider font-bold">
                For better Milling
              </h1> 
            </div>
          </div>
    </div>
    <!-- <div class="flex-col hero-content lg:flex-row-reverse">
      <img src="/images/benz-section-hero.png" class="h-full max-w-sm rounded-lg shadow-2xl"> 
      <div class="h-full">
        <h1 class="mb-5 text-5xl font-bold">
              Hello there
            </h1> 
        <p class="mb-5">
              Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
            </p> 
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div> -->
  </div>