
<div class="hero min-h-screen" style="background-image:url('/images/hero-temp.jpeg')">
    <div class="fixed w-full z-20  p-1 mx-auto h-18 bg-white flex items-end">
      <div class="container mx-auto flex  my-auto">
         <div class="">
            <img class="h-20" src="/images/Nirav-Logo-TP.png"/>
          </div>  
          <div class="  flex flex-col  text-xs items-start justify-between w-full">
            <div class=" flex justify-end w-full whitespace-nowrap pr-4 sm:pr-0 gap-x-1 tracking-widest">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
              </svg>
              080-2323232 
               <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
              </svg> info@niravtools.com</div>
            <div class=" w-full flex justify-end sm:justify-center"> 
              <div class="hover:cursor-pointer sm:hidden">
                <span class="h-1 rounded-full block w-8 mb-1 bg-gradient-to-tr from-indigo-600 to-green-600"></span>
                <span class="h-1 rounded-full block w-8 mb-1 bg-gradient-to-tr from-indigo-600 to-green-600"></span>
                <span class="h-1 rounded-full block w-8 mb-1 bg-gradient-to-tr from-indigo-600 to-green-600"></span>
              </div>
              <div class=" flex items-end p-4">  
                <ul class="sm:flex gap-x-8 hidden">
                  <li><a href="#" class="top-nav-link  uppercase ">Home</a></li>
                  <li><a href="#" class="top-nav-link  uppercase  ">About</a></li>
                  <li><a href="/benz-tooling" class="top-nav-link  uppercase  ">Benz Tooling</a></li>
                  <li><a href="/diebold" class="top-nav-link  uppercase  ">Diebold</a></li>
                  <li><a href="#" class="top-nav-link  uppercase  ">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  
    <!-- End of header Nav -->
    
      <!-- Main Vp Message -->
      <div class="text-sm breadcrumbs">
        <ul>
          <li>
            <a>Home</a>
          </li> 
          <li>
            <a>Documents</a>
          </li> 
          <li>Add Document</li>
        </ul>
      </div>
      
    <div class="slide-up text-center flex  bg-blue-900 hero-content text-neutral-content">
      <div  class=" flex p-2 items-start">
        <h1 class="tracking-wider font-bold">
          Nirav Main VP Message
        </h1> 
        <button class="inline-block px-4 py-3 text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-indigo-500 rounded-md cursor-pointer hover:bg-indigo-600">Tailwind Button</button>
        <button class="btn btn-primary">DaisyUI Button</button>

      </div>
    </div>
    <!-- End Main Vp Message -->
    <div class="flex  mx-auto min-h-full w-full">
      <div class=" w-0 sm:w-1/4 md:w-1/2  min-h-full">asd </div>
      <div class="w-full sm:w-3/4 md:w-1/2 p-10 bg-white bg-opacity-80 min-h-full mt-28">  
        <div class="max-w-md">
          <h1 class="mt-40 text-5xl font-bold">
                heading
              </h1> 
             </div>   
         <p class="mt-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p> 
    </div>
    </div>
  </div>