{{ define "main" }}
<div class="flex flex-col">
<section class="h-40 bg-gray-100 border border-gray-100 bg-home-hero">
    <div class="container mx-auto">
        <div class=" p-2 my-10 text-center flex flex-col items-center justify-center">
            <h5 class="text-sm">Contact us </h5>
            <h2 class="text-xl sm:text-2xl md:text-4xl whitespace-nowrap bg-blue-900 font-semibold text-white w-min tracking-wider px-8 py-1">
                We are glad to be of help </h2>
        </div>
    </div>
</section>
<div class="container mx-auto">
    {{- partial "common/breadcrumbs.html" . -}}
  </div>
<section class="flex ">
    <div class="container flex flex-col sm:flex-row gap-4 mx-auto px-2 py-2 sm:py-10">
            <div class="w-1/2">
                <div class="card lg:card-side text-neutral-content rounded-none">
                    <figure class="p-6">
                        <img src="{{.Params.img}}" class="w-44 rounded-none shadow-lg">
                    </figure> 
                    <div class="max-w-md card-body">
                        <h2 class="card-title text-blue-900">{{.Params.title}}</h2> 
                        <p>{{.Params.short_desc}}</p> 
                        
                    </div>
                </div>
            </div>
            <div class="w-1/2"> {{- partial "common/contactForm.html" . -}}
            </div>
    </div>
</section>
</div>
{{end}}