<section class="h-40 bg-gray-100 border border-gray-100 bg-home-hero">
  <div class="container mx-auto">
    <div class=" p-2 my-10 text-center flex flex-col items-center justify-center">
      <h5 class="text-sm">Join us and </h5>
      <h2
        class="text-xl sm:text-2xl md:text-4xl whitespace-nowrap bg-blue-900 font-semibold text-white w-min tracking-wider px-8 py-1">
        Build a career with us </h2>
    </div>
  </div>
</section>
<section class="flex flex-col sm:flex-row">
  <div class="w-full sm:w-1/2 flex flex-col p-10 gap-y-4 justify-center">
    <h2 class="  mt-0 text-blue-800 font-bold text-lg lg:text-4xl md:text-2xl sm:text-xl  mb-6"> WHAT SETS US
      APART.<br>OUR EMPLOYEES. </h2>
    <h4 class=" md:text-lg font-bold"> STRONG TEAM</h4>
    <p class=" md:text-base text-sm">We work hand in hand towards a common goal. Everyone is here for one another We are
      proud of our extended family.</p>
    <h4 class="md:text-lg font-bold">GENUINE COMMITMENT</h4>
    <p class=" md:text-base text-sm">We are proud of what we achieve together as a team. We identify ourselves with our
      work, our product and above all our Company.</p>

  </div>
  <div class="w-full sm:w-1/2">
    <img
      src="https://www.hofmann-vratny.de/user_upload/mainContent/_992x1145_crop_center-center_100_line/img_mainContent_werWirSind_karriere.jpg.webp" />
  </div>
</section>

<section class="flex pt-10 pb-10 bg-gray-50 flex-col sm:flex-row">
  <div class="w-full sm:w-1/2 flex flex-col p-10 gap-y-4">
    <h2 class="mt-4 text-xl sm:text-2xl 
      md:text-4xl whitespace-nowrap font-semibold text-blue-900 w-min tracking-wider">
      Build a career with us </h2>
    <p>
      We know that in order to produce the best product, you need the best employees. That is why people come first with
      us, before the product. We are always looking for ambitious and motivated people to strengthen our family team.
    </p>
  </div>
  <div class="w-full sm:w-1/2 flex flex-col sm:justify-start px-10">
    <h2 class="text-blue-900 my-2 font-semibold tracking-wider">YOUR DETAILS</h2>
    <form class="flex flex-col">
      <div class="form-control">
        <label class="label">
          <span class="label-text">Name</span>
        </label>
        <input type="text" placeholder="Your Name"
          class="input input-sm input-bordered border-blue-900 w-64 rounded-none">
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Email </span>
        </label>
        <input type="text" placeholder="Your Email"
          class="input input-sm input-bordered border-blue-900 w-64 rounded-none">
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Mobile No. </span>
        </label>
        <input type="text" placeholder="Your Mobile No."
          class="input input-sm input-bordered border-blue-900 w-64 rounded-none">
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">About Yourself</span>
        </label>
        <textarea class="textarea h-24 border-blue-900 w-64 rounded-none textarea-bordered" placeholder="why should we hire you"></textarea>
      </div>


      <button
        class="mt-4 btn btn-sm bg-blue-900 text-white w-28 hover:bg-white hover:text-blue-900 transition delay-100 rounded-none ">Submit</button>

    </form>
  </div>
</section>