<section class="slide-up z-0">
  <div class="container mt-36 my-20 mx-auto">
    <div class="text-center flex flex-col items-center space-y-2">
        <img src="/images/clients/hand-.jpg" alt="hand-">
        <div class="">
            <h2 class=" text-blue-900 text-center text-4xl">OUR CLIENTS</h2>
        </div>
    </div>
    <div class="container mt-10 px-5 mx-auto lg:px-24 lg:py-4">
          <div class="grid grid-cols-3 gap-8 text-center lg:grid-cols-5">
        <div class="flex items-center justify-center ">
          <img  src="/images/clients/ABI-SHOWATECH.png" alt="ABI-SHOWATECH" class="block object-contain  filter grayscale">
        </div>
        <div class="flex items-center justify-center ">
            <img  src="/images/clients/ABI-SOORAI.svg" alt="ABI-SOORAI" class="block object-contain h-36 filter grayscale">
          </div>
          <div class="flex items-center justify-center ">
            <img  src="/images/clients/COSMA-INTERNATIONAL.svg" alt="COSMA-INTERNATIONAL" class="block object-contain h-36 filter grayscale">
          </div>
          <div class="flex items-center justify-center ">
            <img  src="/images/clients/APEX-AUTO-LIMITED.jpg" alt="APEX-AUTO-LIMITED" class="block object-contain h-36 filter grayscale">
          </div>
          <div class="flex items-center justify-center ">
            <img  src="/images/clients/ASHOK-LEYLAND.svg" alt="ASHOK-LEYLAND" class="block object-contain h-36 filter grayscale">
          </div>
          <div class="flex items-center justify-center ">
            <img  src="/images/clients/Avtec.png" alt="Avtec"  class="block object-contain h-36 filter grayscale">
          </div>
          <div class="flex items-center justify-center ">
            <img   src="/images/clients/BEML-Mysore.png" alt="BEML-Mysore"  class="block object-contain h-36 filter grayscale">
          </div>
          <div class="flex items-center justify-center ">
            <img  src="/images/clients/Brakes-India-Ltd.png" alt="Brakes-India-Ltd" class="block object-contain h-36 filter grayscale">
          </div>
          <div class="flex items-center justify-center ">
            <img  src="/images/clients/AT-INDIA-PVT-LTD.svg" alt="AT-INDIA-PVT-LTD" class="block object-contain h-36 filter grayscale">
          </div>
          <div class="flex items-center justify-center ">
            <img  src="/images/clients/ELGI-EQUIPMENTS-LTD.jpg" alt="ELGI-EQUIPMENTS-LTD" class="block object-contain h-36 filter grayscale">
          </div>
      </div>
    </div> 
  </div>

  </section>
